.loginButton{
    margin-top: -50px;
    margin-right: 100px;
    float: right;
}
img{
    width: 150px;
    height: 130px;
}

.flowerTable{
    float: center;
    margin: 100px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid green;
    border-radius: 5px 5px 5px 5px;
}

.MyButton{
    text-align: center;
    font-family: "monospace";
    background-color: lightblue;
    border: none;
    color: white;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 100px;
    border-radius: 2px 2px 2px 2px;
}

div{
    color: rgb(0, 64, 66);
    font-family: "monospace";
}
label{
    font-family: "monospace";
    color: rgb(0, 64, 66);
    text-shadow: 1px 1px rgb(183, 223, 241);
    padding: 10px;
}
input{
    border: 0px solid;
    width: 200px;
    height: 25px;
    background-color: rgb(209, 228, 156);
    color: rgb(0, 64, 66);
}

p{
  text-shadow: 1px 1px rgb(186, 216, 197);
}